{% extends 'gram/base.html' %} {% load static %} {% block content %}
  {% load cloudinary %}
  
  <div class="nav-box">
    {% include 'gram/navbar.html' %}
  </div>
  <div class="container-main">
    <div class="box-1">
      {% include 'gram/appbar.html' %}
    </div>
    <div class="box-5">
      <div class="mt-2 row gap-0 row-gap-3 column-gap-3" data-masonry='{"percentPosition": true }'>
        {% for post in posts %}
          <div class="col-md-4 p-1">
            {% if post.carouselimage_set.count == 1 %}
              <!-- Render single image -->
              <img src="{{ post.carouselimage_set.first.image.url }}" class="d-block w-100" alt="..." />
            {% elif post.carouselimage_set.count > 1 %}
              <!-- Render carousel -->
              <div id="carouselExampleRide" class="carousel slide border" data-bs-ride="true">
                <div class="carousel-inner">
                  {% for carousel_image in post.carouselimage_set.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <img src="{{ carousel_image.image.url }}" class="d-block w-10 lazyload0"  data-src="image.jpg" alt="Description"/>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      {% include 'gram/footer.html' %}
    </div>
  </div>


{% endblock %}
