<!-- Navbar -->
{% load static %}
<nav class="border navbar navbar-expand-lg bg-body-tertiary sticky-top d-flex justify-content-between" style="
  cursor: pointer;">
  <div>
    {% if user_profile_photo %}
      <img src="{{ user_profile_photo }}" alt="Pic" class="ms-3" style="
    width: 44px;
    height: 44px;
    border-radius: 50%;" />
    {% else %}
      <img src="{% static 'images/user.png' %}" class="ms-3" alt="pic" style="
      width: 44px;
      height: 44px;
      border-radius: 50%;" />
    {% endif %}
  </div>
  <div>
    <a href="{% url 'home' %}" class="text-decoration-none text-dark"><p class="fw-semibold fs-3 mt-2" style="font-family: 'Lobster', sans-serif;">Bazenga insta</p></a>
  </div>
  <div class="me-3">
    <a href="{% url 'home' %}" class="text-decoration-none text-dark"><i class="bi bi-chat" style="font-size: 34px;"></i></a>
  </div>
</nav>
