{% extends 'gram/base.html' %} {% load static %} {% block content %}
  {% load cloudinary %}
  <div class="container-main">
    <div class="box-1">
      {% include 'gram/appbar.html' %}
    </div>
    <div class="box-5">
      <div class="container w-100">
        <div class="row my-3">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="co-md-8 ms-3">
              {% if user_profile_photo %}
                <img src="{{ user_profile_photo }}" alt="User Profile Photo" class="image-1 img-fluid" />
              {% else %}
                <img src="{% static 'images/user.png' %}" alt="Default User Photo" class="image-1" />
              {% endif %}
            </div>
          </div>
          <div class="col-md-8">
            <div>
              <div class="" style="font-family: 'Courgette', cursive">
                <div class="my-2 d-flex align-items-center">
                  <div class="me-2">
                    <h4 class="fs-3 fw-medium mt-2">{{ request.user.username }}</h4>
                  </div>

                  <div class="me-2">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal" style="height: 40px">Edit profile</button>
                  </div>
                  <div class="btn-group dropdown">
                    <i class="bi bi-three-dots" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 18px"></i>

                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="bi bi-person-dash" style="font-size: 24px"></i>
                          <span class="ms-2">Unfollow</span>
                        </a>
                      </li>
                      <li class="d-flex">
                        <a class="dropdown-item" href="{% url 'signOut' %}"><i class="bi bi-box-arrow-in-right" style="font-size: 24px"></i><span class="ms-3">Logout</span></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  {% for profile in profiles %}
                    <p>{{ profile.bio }}</p>
                    <p>{{ profile.get_gender_display }}</p>
                  {% endfor %}
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <form class="px-4 py-2" method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title fs-5" style="
                            font-family: 'Berkshire Swash', cursive;
                            justify-content: center;
                          ">Bazenga insta</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h4 class="text-center my-2" style="
                            font-family: 'Berkshire Swash', cursive;
                            justify-content: center;
                          ">Create post</h4>
                          <!-- file input -->
                          <div class="form-group">{{ form.photo.label_tag }} {{ form.photo }}</div>

                          <div class="form-group">{{ form.gender.label_tag }} {{ form.gender }}</div>

                          <div class="form-group">{{ form.bio.label_tag }} {{ form.bio }}</div>
                        </div>
                        <div class="modal-footer d-grid gap-2">
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary btn-block mt-3">Edit profile</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="d-flex" style="font-family: 'Courgette', cursive">
                <div class="me-5">
                  <h5>{{ post.count }} Post</h5>
                </div>
                <div class="mx-4">
                  <h5>{{ followers_count }} Followers</h5>
                </div>
                <div class="mx-4">
                  <h5>{{ following_count }} Following</h5>
                </div>
              </div>
              <div>
                <p class="text-secondary">{{ profile.bio }}</p>
              </div>
            </div>
          </div>
        </div>
        {% include 'gram/profileInfo.html' %}
      </div>
    </div>
    <div class="box-4"></div>
  </div>
{% endblock %}
