{% extends 'gram/base.html' %} {% load static %} {% block content %}
  {% load cloudinary %}
  
  <div class="container-main">
    <div class="box-1">
      {% include 'gram/appbar.html' %}
    </div>
    <div class="box-5">
      <div class="container w-100">
        <div class="row my-3">
          <div class="col-md-5 col-sm-12 d-flex justify-content-center">
            {% if user_profile_photo %}
              <img src="{{ user_profile_photo }}" alt="User Profile Photo" class="image-1 img-fluid" />
            {% else %}
              <img src="{% static 'images/user.png' %}" alt="Default User Photo" class="image-1" />
            {% endif %}
          </div>
          <div class="col-md-7 col-sm-12 p-0">
            <div class="m-0 my-2 row align-items-center">
              <div class="col-md-6 col-sm-12">
                <h4 class="fs-3 fw-medium text-uppercase m-0">{{ request.user.username }}</h4>
              </div>
              <!-- Button trigger modal -->
              <div class="col-md-5 col-sm-12" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal">
                <h5 class="fs-5 mt-1 w-100 ">Edit profile</h5>
              </div>
              <div class="dropdown col-md-1 col-sm-12">
                <h4 class="m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></h4>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bi bi-person-dash" style="font-size: 24px"></i>
                      <span class="ms-2">Unfollow</span>
                    </a>
                  </li>
                  <li class="d-flex">
                    <a class="dropdown-item" href="{% url 'signOut' %}"><i class="bi bi-box-arrow-in-right" style="font-size: 24px"></i><span class="ms-3">Logout</span></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="px-2 "
              >  <div class="w-100 bio">
              {% for profile in profiles %}
                  <p>{{ profile.bio }}</p>
                  <p>{{ profile.get_gender_display }}</p>
              {% endfor %}
                </div>
            </div>

            <div class="row m-0" style="font-family: 'Courgette', cursive">
              <div class="col-md-4 col-sm-4 text-center">
                <h5>{{ post.count }} Posts</h5>
              </div>
              <div class="col-md-4 col-sm-4 text-center">
                <h5>{{ followers_count }} Followers</h5>
              </div>
              <div class="col-md-4 col-sm-4 text-center">
                <h5>{{ following_count }} Following</h5>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
              <div class="modal-dialog">
                <form class="px-4 py-2" method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title fs-5" style="
                            font-family: 'Berkshire Swash', cursive;
                            justify-content: center;
                          ">Bazenga insta</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h4 class="text-center my-2" style="
                            font-family: 'Berkshire Swash', cursive;
                            justify-content: center;
                          ">Create post</h4>
                      <!-- file input -->
                      <div class="form-group">{{ form.photo.label_tag }} {{ form.photo }}</div>

                      <div class="form-group">{{ form.gender.label_tag }} {{ form.gender }}</div>

                      <div class="form-group">{{ form.bio.label_tag }} {{ form.bio }}</div>
                    </div>
                    <div class="modal-footer d-grid gap-2">
                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block mt-3">Edit profile</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div >
          {% include 'gram/profileInfo.html' %}
        </div>
      </div>

      {% include 'gram/footer.html' %}
    </div>
  </div>

{% endblock %}
