{% extends 'gram/base.html' %}

{% block content %}
{% include "gram/navbar.html" %}

<div class="container">
    <div class="row mt-3"> 
        <div class="col-md-1"></div>
        <div class="col-md-3">           
            <div class="co-md-8">
                <img src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                class=" image-1 img-fluid"
                alt=""/>
            </div>            
        </div>
        <div class="col-md-8">
            

        </div>
    </div>
</div>
{% endblock %}