<div class="card" style="width: 14rem; position: fixed;">
  <div class="card-body">
        <h5 class="card-title">
            <ul class="nav nav-tabs card-header-tabs py-1">
                <li class="nav-item">
                    <img
                    src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                    class="image-2 img-fluid"
                    alt=""/>
                </li>
            
            </ul>
        </h5>
        <div class="card-title mt-3 d-flex  justify-content-between"  style="font-family: 'Berkshire Swash', cursive;">
            <h3 class="text-muted" style='font-size:17px;'>Suggestions For You</h3>
            <h5 style='font-size:15px;'>see all</h5>
        </div>
        <div class="card-text d-flex  justify-content-between" style="font-family: 'Courgette', cursive;">
            <img src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
            class="image-4 img-fluid"
            alt=""/>
           <a href="#"> <small>Follow</small></a>
        </div>
  </div>
</div>