<style>
  .image-container {
    height: 300px;
    position: relative;
  }

  .image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<div class="container text-center mt-3">
  <div class="row gap-0 row-gap-3 column-gap-3">
    {% for post in user_posts %}
    <div class="col-md-4 p-1">
      {% if post.user == request.user %} {% if post.carouselimage_set.count == 1 %}
        <div class="image-container">
            <img
            src="{{ post.carouselimage_set.first.image.url }}"
            class="d-block w-100"
            alt="..." />
        </div>
        {% elif post.carouselimage_set.count > 1 %}
        <div
        id="carouselExampleFade" class="carousel slide carousel-fade"
            data-bs-ride="carousel">
            <div class="carousel-inner">
            {% for carousel_image in post.carouselimage_set.all %}
            <div
                class="carousel-item {% if forloop.first %}active{% endif %} image-container">
                <img
                src="{{ carousel_image.image.url }}"
                class="d-block w-100 user-post-container"
                alt="..." />
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %} 
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
