<footer class="text-center px-md-4 px-sm-2 py-3" style="font-size: small; color: #959698;">

  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">About</a>

  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Blog</a> 
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Jobs</a> 

  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Help</a> 
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Privacy</a> 
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Terms</a> 
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Locations</a>
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Instagram Lite</a> 
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Threads</a> 
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">Meta Verified</a> 
  
  <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-2" href="https://github.com/eude313">© 2024 Instagram by Eudes</a>
</footer>
