{% extends 'gram/base.html' %}
{% load static %}
{% block content %}

{% include 'gram/progress.html' %}
  {% load cloudinary %}
  <style>
  </style>
    <div class="container-main">
    <div class="box-1">
      {% include 'gram/appbar.html' %}
    </div>
    <div class="box-5"> 
        <h1>Notifications</h1>
        
        {% comment %} <div class="parent">
          <a href="#" data-user-index="0" class="btn-gradient-2 image-1">
            <img src="{% static 'images/user.png' %}" alt="Default User Photo" />
          </a>
        </div>  {% endcomment %}
      


        <ul>
            {% for notification in notifications %}
                <li{% if notification.is_read %} style="font-weight: normal;"{% else %} style="font-weight: bold;"{% endif %}>
                    {{ notification.message }}
                    <a href="{% url 'mark_as_read' notification.id %}">Mark as read</a>
                </li>
            {% endfor %}
        </ul>
    {% include 'gram/footer.html' %}
    </div>

  </div>
<script>
</script>

{% endblock %}
