/* font-family: 'Berkshire Swash', cursive;{heading}
font-family: 'Courgette', cursive;{notes} */

.or{
    height:10px;
    font-size:10px;
}
.vl{
    height:1rem;
    width:10rem;
    background-color:rgb(0, 0, 0);
}