/* font-family: 'Berkshire Swash', cursive;{heading}
font-family: 'Courgette', cursive;{notes} */

.or{
    height:10px;
    font-size:10px;
}
.vl{
    height:1rem;
    width:10rem;
    background-color:rgb(0, 0, 0);
}
.image-1{
    width:200px;
    height:200px; 
    border-radius: 50%;
    display: inline-block;
}
.image-2{
    width:70px;
    height:70px; 
    border-radius: 50%;
    display: inline-block;
}
.image-3{
    width:50px;
    height:50px; 
    border-radius: 50%;
    display: inline-block;
}
.image-4{
    width:35px;
    height:35px; 
    border-radius: 50%;
    display: inline-block;
}
