{% extends 'gram/base.html' %}
{% load static %}
{% block content %} 
<div class="container d-flex justify-content-center">
    <div style="font-family: 'Courgette', cursive;">
        <h4 class="text-center my-2" style="font-family: 'Berkshire Swash', cursive; justify-content: center;">Bazenga insta</h4>
        <div class="border" style="width: 380px; height: 450px;">
            <h4 class="text-center my-1" style="font-family: 'Berkshire Swash', cursive;">Sign Up</h4>
            <form class="px-4 py-2" method="POST" action="">
            {% csrf_token %}
            <!-- Username input -->
            <div class="form-outline mb-3">
                <input name="username" type="Username" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Username</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-3">
                <input name="email" type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
                <input name="password" type="password" id="typePassword" class="form-control" />
                <label class="form-label" for="typePassword">Password</label>
            </div>

            <!-- Confirm_Password -->
            <div class="form-outline">
                <input name="confirm_password" type="Confirm_Password" id="typeConfirm_Password" class="form-control" />
                <label class="form-label" for="typeConfirm_Password">Confirm_Password</label>
            </div>
                    
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mt-3">Log in</button>
            
            <!-- 2 column grid layout for inline styling -->
            <div class="mb-2 text-center">
                <div class='or mt-1 d-flex'>
                <div class='mt-2' style="height:1px; width:100%; background-color:rgb(195, 195, 195);"></div><p class='mx-2' style="font-size:18px;">OR</p><div class='mt-2 ' style="height:1px; width:100%; background-color:rgb(195, 195, 195);"></div>
                </div>
                <div class="py-2">
                <!-- Simple link -->
                <a href="#!"><small> Forgot password?</small></a>
                </div>
            </div>
            </form>

            </div>
            <div class="border my-2 text-center pt-2" style="width: 380px; height:50px;">
                <small> Already have an account?<a href="{% url 'login' %}"> Sign In</a></small>
            </div>
            <div class="text-center pb-1" style="width: 320px; padding-left:3rem;">
                <small>Get the app.</small>
            </div>

            <div class="px-1" style="width: 380px;">
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=loginPage&ig_mid=E50E46DD-5BBA-48D4-8862-874BD4DFEA24&utm_content=lo&utm_medium=badge"><img src="{% static '/images/play.png' %}" alt="" class="img-fluid"></a>
            </div>

            </div>

        </div>
    </div>
</div>

<form method="POST" action="">
    {{ form }}

</form>



{% endblock %}