{% extends 'gram/base.html' %}
{% load static %}
{% block content %} 
<div class="container d-flex justify-content-center">
    <div style="font-family: 'Courgette', cursive;">
        <h4 class="text-center my-2 text-capitalize" style="font-family: 'Berkshire Swash', cursive; justify-content: center;">Bazenga insta</h4>
        {% if messages %}
            <div class="me-5">
                {% for message in messages %}
                <div class="toast align-items-center border-0 show position-absolute bottom-0 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: {% if message.tags == 'success' %}#28a745{% elif message.tags == 'info' %}#17a2b8{% elif message.tags == 'warning' %}#ffc107{% elif message.tags == 'danger' %}#dc3545{% endif %}">
                    <div class="d-flex">
                    <div class="toast-body text-white">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="border" style="width: 380px;">
            <h4 class="text-center my-1 text-capitalize" style="font-family: 'Berkshire Swash', cursive;">Sign Up</h4>
            <form class="px-4 py-2 needs-validation" method="POST" action="" novalidate>
                {% csrf_token %}
            <!-- Username input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="form2Example1">Username</label>
                <input name="username" type="Username" id="form2Example1" class="form-control" required
                placeholder="Username"/>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="form2Example1">Email</label>
                <input name="email" type="email" id="form2Example1" class="form-control" 
                placeholder="youremail@gmail.com"  required/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="typePassword">Password</label>
                <input name="password" type="password" id="typePassword" class="form-control"  required
                placeholder="*****"/>
            </div>

            <!-- Confirm_Password -->
            <div class="form-outline mb-3">
                <label class="form-label" for="typeConfirm_Password">Confirm_Password</label>
                <input name="confirm_password" type="Password" id="typeConfirm_Password" class="form-control" required
                placeholder="*****" />
            </div>
                    
            <!-- Submit button -->
            <div class="d-grid gap-2  mb-3">
                <button type="submit" class="btn btn-primary btn-block mt-3">Sign In</button>
            </div>
            <!-- 2 column grid layout for inline styling -->
            <div class="text-center">
                <div class="d-flex">
                  <div
                    class="d-flex align-items-center me-2"
                    style="height: 27px; width: 100%">
                    <div
                      style="
                        height: 1px;
                        width: 100%;
                        background-color: rgb(195, 195, 195);
                      "></div>
                  </div>
  
                  <p style="font-size: 16px; height: 27px; margin-bottom: 0px">
                    OR
                  </p>
                  <div
                    class="d-flex align-items-center ms-2"
                    style="height: 27px; width: 100%">
                    <div
                      style="
                        height: 1px;
                        width: 100%;
                        background-color: rgb(195, 195, 195);
                      "></div>
                  </div>
                </div>
                <a href="#"><small> Forgot password?</small></a>
              </div>
            </form>

            </div>
            <div class="border my-2 text-center pt-2" style="width: 380px; height:50px;">
                <small> Already have an account?<a href="{% url 'signIn' %}"> Sign In</a></small>
            </div>
            <div class="text-center pb-1" style="width: 320px; padding-left:3rem;">
                <small>Get the app.</small>
            </div>

            <div class="px-1" style="width: 380px;">
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=loginPage&ig_mid=E50E46DD-5BBA-48D4-8862-874BD4DFEA24&utm_content=lo&utm_medium=badge"><img src="{% static './images/play.png' %}" alt="" class="img-fluid"></a>
            </div>

            </div>

        </div>
    </div>
</div>

<!-- <form method="POST" action="" class="card" style="width: 20rem;">
    {{ form }}
    <button type="submit" class="btn btn-primary btn-block mt-3">Sign In</button>
</form> -->



{% endblock %}